@import '../../../../styles/variables';

.wrapper{
  padding: 12px 0 12px 20px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%,
          rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.3);
  box-shadow: 10px 10px 40px rgba(156, 185, 222, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 10px;
}
.headBlock{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 20px;
  padding-bottom: 12px;
}
.burgerBtn{
  width: 18px;
  height: 9px;
  display: flex;
  align-items: center;
  position: relative;
  background: none;
}
.burger, :before, :after{
  width: 100%;
  height: 1px;
  background-color: $another-grey-light;
}
.burger{
  &:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
  }
  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
.logo{
  width: 50px;
  height: 50px;
  margin: 0 20px;
}
.titleBlock{
  width: 299px;
  &_short{
    width: 212px;
  }
}
.address{
  font-size: 12px;
  line-height: 14px;
  color: $grey-light;
}
.addressShort{
  font-size: 12px;
  line-height: 14px;
  color: $grey-light;
}
.description{
  margin: 0 20px;
  width: 380px;
}
.source{
  color: $another-grey-light;
  width: 186px;
}
.tags{
  width: 145px;
  margin: 0 10px 0 20px;
}
.installBtn{
  padding: 6px 20px;
  margin-right: 20px;
  background: $blue;
  border-radius: 50px;
}
.descriptionWrapper{
  padding-right: 14px;
  padding-top: 8px;
  display: flex;
  & > * {
    margin-right: 70px;
  }
  &:last-child{
    margin-right: 0;
  }
  &_less{
    & > * {
      margin-right: 31px;
    }
    &:last-child{
      margin-right: 0;
    }
  }
  &_hidden{
    display: none;
  }
}
.space{
  width: 55px;
}
.firstDescriptionBlock{
  width: 400px;
}
.secondDescriptionBlock{
  width: 164px;
}
.thirdDescriptionBlock{
  width: 134px;
}
.fourthDescriptionBlock{
  width: 144px;
}
.secondDescriptionBlock ,.thirdDescriptionBlock,
.fourthDescriptionBlock{
  & > section {
    margin-bottom: 27px;
  }
}