@import '../../../../styles/variables';

.wrapper{
  padding: 12px 0 12px 20px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%,
          rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.3);
  box-shadow: 10px 10px 40px rgba(156, 185, 222, 0.1);
  border-radius: 10px;
  @media only screen and (max-width: 768px) {
    padding: 10px 10px 0;
  }
}
.headBlock{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 20px;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
}
.burgerBtn{
  width: 18px;
  height: 9px;
  display: flex;
  align-items: center;
  position: relative;
  background: none;
  @media only screen and (max-width: 768px) {
    display: none;
  }
}
.burger, :before, :after{
  width: 100%;
  height: 1px;
  background-color: $another-grey-light;
}
.burger{
  &:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
  }
  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
.headWrapper{
  flex: 0 0 390px;
  transition: 1s;
  &_short{
    transition: 1s;
    flex: 0 0 302px;
    @media only screen and (max-width: 768px) {
      flex: 1 1 auto;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  @media only screen and (max-width: 768px) {
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}
.titleWrapper{
  display: flex;
  align-items: center;
  margin-right: 20px;
  @media only screen and (max-width: 768px) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.logo{
  width: 50px;
  height: 50px;
  margin: 0 20px;
  @media only screen and (max-width: 768px) {
    margin: 0 10px 0 0;
  }
}
.titleBlock{
  width: 299px;
  transition: 1s;
  &_short{
    width: 212px;
    @media only screen and (max-width: 768px) {
      width: 184px;
    }
  }
  @media only screen and (max-width: 768px) {
    width: 184px;
  }
}
.title{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 3px;
}
.address{
  font-size: 12px;
  line-height: 14px;
  color: $grey-light;
  position: fixed;
  @media only screen and (max-width: 768px) {
    display: none;
  }
}
.mobileSource{
  display: none;
  @media only screen and (max-width: 768px) {
    display: inherit;
    color: $another-grey-light;
  }
}
.mobileInstallBtn{
  display: none;
  @media only screen and (max-width: 768px) {
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin-bottom: 10px;
    background: url("../../../../img/InstallButton.svg");
    &_installed{
      background: url("../../../../img/installedButton.svg");
    }
  }
}
.description{
  margin-right:20px;
  flex: 1 1 auto;
  transition: 1s;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  &_short{
    @media only screen and (max-width: 768px) {
      margin: 0 0 10px 0;
      width: 100%;
      flex: auto;
    }
  }
  @media only screen and (max-width: 768px) {
    margin: 0 0 10px 0;
    width: 100%;
    flex: auto;
  }
}
.source{
  color: $another-grey-light;
  flex: 0 0 186px;
  @media only screen and (max-width: 1900px) {
    display: none;
  }
}
.tags{
  flex: 0 0 145px;
  @media only screen and (max-width: 768px) {
    flex: 0 0 auto;
    width: 100%;
  }
}
.btnInstallWrapper{
  flex: 0 0 120px;
  display: flex;
  justify-content: flex-end;
  @media only screen and (max-width: 768px) {
    display: none;
  }
}
.installBtn{
  padding: 6px 20px;
  background: $blue;
  border-radius: 50px;
  &_installed{
    background: #CCD4DB;
    &:hover{
      background: #FF7A00;
    }
  }

}
.descriptionWrapper{
  padding-right: 14px;
  padding-top: 20px;
  display: flex;
  @media only screen and (max-width: 1900px) {
   flex-wrap: wrap;
  }

  & > * {
    margin-right: 70px;
    @media only screen and (max-width: 768px) {
      margin-right: 0;
    }
  }
  &:last-child{
    margin-right: 0;
  }
  &_less{
    & > * {
      margin-right: 31px;
    }
    &:last-child{
      margin-right: 0;
    }
  }
  @media only screen and (max-width: 768px) {
    padding: 0;
    flex-direction: column;
    margin-bottom: 20px;
  }
}
.space{
  width: 55px;
  transition:margin-right 1s;
  @media only screen and (max-width: 1440px) {
    display: none;
  }
}
.firstDescriptionBlock{
  width: 400px;
  @media only screen and (max-width: 1900px) {
  width: 100%;
    margin-bottom: 20px;
}
  @media only screen and (max-width: 768px) {
    width: 100%;
    margin-bottom: 10px;
  }
}
.secondDescriptionBlock{
  width: 164px;
  @media only screen and (max-width: 768px) {
    width: 100%;
    display: flex;
    & > section{
      &:last-child{
        display: none;
      }
      &:first-child{
        margin-right: 30px;
      }
    }
  }

}
.thirdDescriptionBlock{
  width: 134px;
  @media only screen and (max-width: 768px) {
    display: none;
  }
}
.fourthDescriptionBlock{
  width: 144px;
  @media only screen and (max-width: 768px) {
    display: none;
  }
}
.secondDescriptionBlock ,.thirdDescriptionBlock,
.fourthDescriptionBlock{
  transition:margin-right 1s;
  @media only screen and (max-width: 1900px) {
   flex: 1 1 auto;
    margin-left: 50px;
  }
  @media only screen and (max-width: 768px) {
    margin-left: 0;
  }
  & > section {
    margin-bottom: 27px;
      @media only screen and (max-width: 768px) {
      margin-bottom: 0;
    }
  }
}