.head{
  display: flex;
  align-items: center;
  transition: 1s;
}
.titleWrapper{
  display: flex;
  align-items: center;
}
.title{
  white-space: nowrap;
  text-transform: uppercase;
  transition: 1s;
  &_dot{
    color: darkred;
  }
}
.titleImg{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.closeBtn{
  width: 16px;
  height: 16px;
  background: url("../../../img/navigation/close-btn.svg") center;
}