@import '../../styles/variables';

.wrapper{
  width: 1368px;
  margin: 76px 30px 70px;
  padding: 24px 20px 47px;
  border-radius: 10px;

  background: linear-gradient(180deg, rgba(185, 251, 255, 0.2) 0%, rgba(227, 220, 255, 0.2) 100%);
  backdrop-filter: blur(30px);
  transition: 1s;
  &_small{
    width: 1100px;
  }
  @media only screen and (max-width: 426px) {
    margin: 0;
    padding: 10px;
    border-radius: 0;
    background: #E5E5E5;;
  }
}
