@import "../../../styles/variables";
.item{
  display: flex;
  align-items: center;
  padding: 15px 0 15px 36px;
  &__active{
    border-right: solid 4px $blue;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.3);
    @media only screen and (max-width: 426px) {
      border-right: none;
      border-left: solid 4px $blue;
    }
  }
  @media only screen and (max-width: 426px) {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
  }
}
.logo{
  margin-right: 10px;
}
.title{
  transition: opacity 1s;
  white-space: nowrap;
  &_active{
    color: $blue;

  }
}