@import "../../../styles/variables";
.item{
  display: flex;
  align-items: center;
  padding: 15px 0 15px 36px;
  &__active{
    border-right: solid 4px $blue;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.3);
  }
}
.logo{
  margin-right: 10px;
}
.title{
  &__active{
    color: $blue;
  }
}