@import '../styles/variables';

.wrap{
  width: fit-content;
  padding: 3px 3px 2px;
  background: $violet;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.title{
  font-family: Roboto-Regular, sans-serif;
  font-size: 10px;
  line-height: 100%;
  color: $white;
  margin-right: 4px;
}
.closeBtn{
  width: 6px;
  height: 6px;
  background: url("../img/tag-closer.svg") center;
}