@import "../../../styles/variables";
.Dropdown-root{
  position: relative;
}
.myPlaceholderClassName{
  width: 210px;
  margin-left: 20px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.8);
  box-shadow: 10px 10px 40px rgba(156, 185, 222, 0.36);
  border-radius: 10px;
  padding: 11px 10px 10px;
  cursor: pointer;
  color: $black;
  @media only screen and (max-width: 768px) {
    width: 100%;
    margin-left: 0;
    height: 30px;
  }
}
.is-open{
  border-radius: 10px 10px 0 0;
}
.myArrowClassName{
  width: 14px;
  height: 10px;
  background: url("../../../img/content/inputBtn.svg") center no-repeat;
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  @media only screen and (max-width: 768px) {
    top: 12px;
  }

}
.myMenuClassName{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 210px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.8);
  box-shadow: 10px 10px 40px rgba(156, 185, 222, 0.36);
  border-radius: 10px;
  padding: 5px 10px;
  position: absolute;
  z-index: 2;
  right: 0;
  top: 40px;
  height: 80px;
  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}
.Dropdown-option{
  cursor: pointer;
}