@import "styles/variables";
.wrapper {
  max-width: 1920px;
  width: 100%;
  background: url("./img/background1.png") no-repeat;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
    background: #E5E5E5;;
  }
}
.content{
  flex: 1 1 auto;
}
